<table role="presentation">
    {{> partials/components/image index=2 }}
    {{> partials/components/spacer height=20}}
    <tr>
        <td>
            <h2>{{ heading }}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero lectus, hendrerit.</p>
        </td>
    </tr>
    {{> partials/components/spacer height=20}}
    {{> partials/components/button index=1 }}
    {{> partials/components/spacer height=20}}
</table>