<tr>
    <td class="md-ct mb-padding">
        <table>
            {{> partials/components/spacer height=40}}
            <tr>
                <td class="mobile-hide" width="40">&nbsp;</td>
                <td>
                    {{> partials/demo/article heading="Satisfy Your Cravings: The Top 5 Sweetest Desserts You Must Try Today" btnAlign="center"}}
                </td>
                <td class="mobile-hide" width="40">&nbsp;</td>
            </tr>
            {{> partials/components/spacer height=40}}
        </table>
    </td>
</tr>