{{> partials/components/spacer height=20}}
<tr>
  <td align="center" class="footer">
    <span class="co-info">
        <span class="co-nm">Sweet Treat</span><br>
        4275 Doctors Drive<br>
        El Segundo, CA 90245
    </span>
  </td>
</tr>
{{> partials/components/spacer height=20}}