{{> partials/components/spacer height=20}}
<tr>
  <td align="center" class="logo">
    <!--[if (gte mso 9)|(IE)]>
        <table width="200" role="presentation">
            <tr>
                <td align="center">
        <![endif]-->
          <img src="https://img.logoipsum.com/216.svg" width="200" alt="logo" class="logo"/>
        <!--[if (gte mso 9)|(IE)]>
            </td>
        </tr>
    </table>
    <![endif]-->
  </td>
</tr>
{{> partials/components/spacer height=20}}
